<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<!-- Setup Credential Form -->
<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Step 4: Setup Credential</h4>
  <div class="card-body">
    <button class="btn btn-primary" (click)="setupCredentialDefinition()">
      <i class="fa fa-sign-in"></i> Create Credential Definition</button>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Government Credential Definition</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody *ngIf="credentialDefinitions.length === 0">
        <tr>
          <td colspan="5">There are no registered Credential Definitions.</td>
        </tr>
      </tbody>
      <tbody>
      <!-- NEED TO REVIEW  -->
        <tr *ngFor="let credentialDefinition of credentialDefinitions">
          <td>{{credentialDefinition.governmentIdCardCredDefId}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteCredentialDefinition(credentialDefinition)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Resident Id Card Form -->
<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Step 5: Resident Id Card</h4>
  <div class="card-body">
    <form [formGroup]="residentForm" (ngSubmit)="createIdCard()">

      <div class="input-group" [ngClass]="setClassID()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-id-card"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="id" formControlName="id" placeholder="ID">
      </div>

      <div class="input-group" [ngClass]="setClassName()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>

      <div class="input-group" [ngClass]="setClassDOB()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-birthday-cake"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="dob" formControlName="dob" placeholder="Day of birth (yyyy-mm-dd)">
      </div>

      <div class="input-group" [ngClass]="setClassGender()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-odnoklassniki"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="gender" formControlName="gender" placeholder="Gender (Male or Female)">
      </div>

      <div class="input-group" [ngClass]="setClassNationality()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-globe"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="nationality" formControlName="nationality" placeholder="Nationality">
      </div>

      <div class="input-group" [ngClass]="setClassHometown()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-home"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="hometown" formControlName="hometown" placeholder="Hometown">
      </div>

      <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user-circle"></i>
          </span>
        </div>
        <input class="form-control" type="file" name="profile_image_hash" formControlName="profile_image_hash" (change)="onFileChange($event)"
          #fileInput>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!residentForm.valid">
        <i class="fa fa-sign-in"></i> Submit</button>
    </form>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Resident Id Card DID</th>
          <th scope="col">Resident Id Card Wallet</th>
          <!-- <th scope="col">Hash</th> -->
          <!-- <th scope="col">Patient Master Secret ID</th> -->
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody *ngIf="residentIdCards.length === 0">
        <tr>
          <td colspan="5">There are no resident id card registered.</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let residentIdCard of residentIdCards">
          <td>{{residentIdCard.residentGovernmentDid}}</td>
          <td>{{residentIdCard.residentGovernmentKey}}</td>
          <!-- <td>{{patientPrescription.prescriptionCredValues.pdf_hash.raw}}</td> -->
          <!-- <td>{{patientPrescription.patientMasterSecretId}}</td> -->
          <td>
            <button class="btn btn-sm btn-danger" (click)="deletePatientPrescription(residentIdCard)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>