<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Step 6: Apply Prescription</h4>
  <div class="card-body">
    <form [formGroup]="pharmacyForm" (ngSubmit)="applyPrescription()">

      <div class="input-group" [ngClass]="setClassID()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-id-card"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="id" formControlName="id" placeholder="ID">
      </div>

      <div class="input-group" [ngClass]="setClassName()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>

      <div class="input-group" [ngClass]="setClassDOB()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-birthday-cake"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="dob" formControlName="dob" placeholder="Day of birth (yyyy-mm-dd)">
      </div>

      <div class="input-group" [ngClass]="setClassGender()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-odnoklassniki"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="gender" formControlName="gender" placeholder="Gender (Male or Female)">
      </div>

      <!-- <div class="input-group" [ngClass]="setClassNationality()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-globe"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="nationality" formControlName="nationality" placeholder="Nationality">
      </div> -->

      <!-- <div class="input-group" [ngClass]="setClassHometown()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-home"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="hometown" formControlName="hometown" placeholder="Hometown">
      </div> -->

      <div class="input-group" [ngClass]="setClassCreatedAt()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-question"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="createdAt" formControlName="createdAt" placeholder="Create date(yyyy-mm-dd)">
      </div>

      <!-- <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user-circle"></i>
          </span>
        </div>
        <input class="form-control" type="file" name="profile_image_hash" formControlName="profile_image_hash" (change)="onFileChange($event)"
          #fileInput>
      </div> -->

      <div class="input-group" [ngClass]="setClassMoney()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-question"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="money" formControlName="money" placeholder="Money">
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!pharmacyForm.valid">
        <i class="fa fa-sign-in"></i> Submit</button>
    </form>
  </div>

  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Patient Doctor DID</th>
          <th scope="col">Doctor Prescription Credential Definition</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody *ngIf="pharmacyPrescriptions.length === 0">
        <tr>
          <td colspan="5">There are no patient prescriptions registered.</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let pharmacyPrescription of pharmacyPrescriptions">
          <td>{{pharmacyPrescription.patientDoctorDid}}</td>
          <td>{{pharmacyPrescription.doctorPrescriptionCredDefId}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deletePharmacyPrescription(pharmacyPrescription)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>